{% extends 'base.html' %}
{% block content %}
<div class="my-5">
    <div class="row container mx-auto">
        <div class="col-md-6 col-sm-12 mx-auto">
            <div class="card card-body bg-light">
                <div class="container">
                    <h4 class="text-center">SignUp</h4><br>
                    <form action="{% url 'signup' %}" method="post" id="signupForm">
                        {% csrf_token %}
                        <input type="text" class="form-control" placeholder="Username *" required name="username"> <br>
                        <input type="email" class="form-control" placeholder="Email *" required name="email"> <br>
                        <input type="password" id="password" class="form-control" placeholder="Password *" required name="password"><br>
                        <input type="password" id="password2" class="form-control" placeholder="Confirm Password *" required><br>

                        <div class="d-flex justify-content-center mb-2">
                            <button type="submit" class="btn btn-success">Signup <i class="bi bi-door-open-fill"></i></button>
                        </div>
                        <p>Are you already have an account? <a href="{% url 'login' %}" class="text-success">Login Here.</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
                
            
    document.getElementById('signupForm').addEventListener('submit', (e) => {
        e.preventDefault()
        let password = document.getElementById('password').value;
        let password2 = document.getElementById('password2').value;
        if(password !== password2){
            alert("Passwords are not matched!")
        }else {
            e.target.submit()
        }
    })

</script>
{% endblock %}