{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h4 class="text-center">Welcome, {{user.username}}</h4>
            <button class="ms-2 btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#notificationModal">
                <i class="bi bi-bell-fill"></i>
            </button>
        </div>
        <div class="col-md-6 col-sm-12 mx-auto">
            <hr>
            <div class="card card-body bg-light" style="height: 65vh;overflow: auto;" id="chatStore"></div>
            <form id="sendMsgForm">
            <div class="d-flex justify-content-between mt-2">
                    <input type="text" class="form-control me-2" placeholder="Enter text..." id="msgBody">
                    <button type="submit" class="btn btn-success"><i class="bi bi-send"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Notification Model -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send Notification to admin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea type="text" class="form-control" placeholder="Enter notification..." id="notificationInput"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="notificationSendBtn"><i class="bi bi-arrow-up-right"></i></button>
      </div>
    </div>
  </div>
</div>
{{ user.username|json_script:"username"}}
{{ user.username|json_script:"client_username"}}
{% endblock %}
{% block js %}
<script src="{% static 'js/user/notification.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}